replicaCount: 1

image:
  repository: kishorekuruba08/go-web-app
  pullPolicy: IfNotPresent
  #override the tag value during deployment
  tag: "19637712702"

ingress:
  enabled: false
  className: ""
  annotations: {}

  hosts:
    - host: chart-example.local
      paths:
      - path: /
        pathType: ImplementationSpecific
  